WSDL/Servicio_Piloto.xml

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://microsoft.com/webservices/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" targetNamespace="http://microsoft.com/webservices/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://microsoft.com/webservices/">
      <s:element name="RealizarSolicitud">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nombre" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RealizarSolicitudResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RealizarSolicitudResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="RealizarSolicitudSoapIn">
    <wsdl:part name="parameters" element="tns:RealizarSolicitud" />
  </wsdl:message>
  <wsdl:message name="RealizarSolicitudSoapOut">
    <wsdl:part name="parameters" element="tns:RealizarSolicitudResponse" />
  </wsdl:message>
  <wsdl:portType name="Servicio_PilotoSoap">
    <wsdl:operation name="RealizarSolicitud">
      <wsdl:input message="tns:RealizarSolicitudSoapIn" />
      <wsdl:output message="tns:RealizarSolicitudSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Servicio_PilotoSoap" type="tns:Servicio_PilotoSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RealizarSolicitud">
      <soap:operation soapAction="http://microsoft.com/webservices/RealizarSolicitud" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Servicio_PilotoSoap12" type="tns:Servicio_PilotoSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RealizarSolicitud">
      <soap12:operation soapAction="http://microsoft.com/webservices/RealizarSolicitud" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Servicio_Piloto">
    <wsdl:port name="Servicio_PilotoSoap" binding="tns:Servicio_PilotoSoap">
      <soap:address location="http://localhost:5002/Servicio_Piloto.asmx" />
    </wsdl:port>
    <wsdl:port name="Servicio_PilotoSoap12" binding="tns:Servicio_PilotoSoap12">
      <soap12:address location="http://localhost:5002/Servicio_Piloto.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>